/* Post-Item Styles Detailseite */
.content-item time { font-size: 14px; color: #53565d; }
.single .content-item h1.top-headline { margin: 0; padding: 20px 0 0 0; font-size: 15px; color: #8a9099; }
.content-item h2.sub-headline { margin: 0; padding: 5px 0 20px 0; font-size: 22px; color: #3b3e42; }
.content-item h3 { margin: 0; padding: 10px 0 5px 0; font-size: 17px; line-height: 1.3; color: #3b3e42; }
.content-item section > h3:first-child,
.table-greenborder h3 {
	padding-top: 5px;
}

.content-item h4, .content-item h5 { padding: 0 0 20px 0; margin: 0; font-size: 16px; line-height:22px; color: #333333; }
.content-item  p a:link, .content-item p a:visited, .content-item h4 a:link, .content-item h4 a:visited { color: #4e7ca4; border-bottom: solid 1px #b2c5d5; text-decoration: none; }
.content-item  p a:hover, .content-item p a:active, .content-item h4 a:hover, .content-item h4 a:active { text-decoration: none; border-bottom: none; }

.content-item .more-info { margin-top: 50px; padding: 17px 18px; border: solid 2px #b3c5d3; border-radius: 3px; }
.content-item .more-info h3 { margin: 0; padding: 0; font-size: 15px; color: #333333; font-weight:bold; }
.content-item .more-info ul { padding: 0; }
.content-item .more-info ul li a:link, .content-item .more-info ul li a:visited { text-decoration: underline; }
.content-item .more-info ul li a:hover, .content-item .more-info ul li a:active { text-decoration: none; }
.content-item .more-list { margin:10px 0px 0px 0px; clear:both; }
.content-item .more-list li:before { content:"" !important; }
.content-item .more-list li { display:block; margin:0px 0px 2px 3px; padding:0px; }
.content-item .single-post ul { padding: 0; margin-bottom: 20px; list-style-position: inside; clear:both; }
.content-item .single-post ol { padding-left: 20px; clear:both; }
.content-item .single-post ul li ul, .content-item ol li ol { margin-bottom: 0; }
.content-item .single-post ul li { padding-left: 15px; }
.content-item .single-post ul li, .content-item ol li { line-height: 25px; }
.content-item .single-post ul li:before{ content:"â€¢"; font-size:10pt; margin-left: -15px; padding-right: 10px; }
.content-item .single-post ul { list-style-type: none; }
.content-item .single-post ul li ul, .content-item ol li ol { padding-left: 20px; }
.content-item .table-greenborder { margin-top: 50px; padding: 17px 18px; border: solid 2px #b3c5d3; border-radius: 3px; clear:both; width:100%; overflow:auto; }
.content-item .table-infobox { padding: 9px 12px; border: 1px solid #b0c89d; border-radius: 3px; line-height: 18px; background: #eff4eb; margin: 0 14px 14px 0; float:left; display: block; font-size: 14px; font-weight: 100; } /* GrÃ¼ner Rahmen */
.content-item .table-greenborder { padding: 9px 12px; border: 1px solid #b0c89d; line-height: 18px; margin: 0 14px 14px 0; float:left; display: block; font-size: 14px; font-weight: 100; } /* GrÃ¼ner Rahmen */
.content-item section > .table-greenborder:first-of-type {
	margin-top: 24px;
}
.content-item .table-greenborder strong,
.content-item .table-infobox strong { font-weight:bold; }
.content-item .table-infobox tr { background-color:transparent; }
.content-item table tr td ul { padding-left:16px; }
.content-item .link-pages { clear:both; width:100%; padding:20px 0; font-size:1.1em; }

/* images and captions */
.content-item img.size-auto,
.content-item img.size-full,
.content-item img.size-large,
.content-item img.size-medium,
.content-item .attachment img,
.content-item .wp-caption { max-width: 100%; height: auto; }
.content-item .alignleft,
.content-item img.alignleft { display: inline; float: left; margin-right: 15px; margin-top: 4px; }
.content-item .alignright,
.content-item img.alignright { display: inline; float: right; margin-left: 15px; margin-top: 4px; }
.content-item .aligncenter,
.content-item img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }
.content-item img.alignleft,
.content-item img.alignright,
.content-item img.aligncenter { margin-bottom: 12px; }
.content-item .wp-caption { max-width: 100%; }
.content-item .wp-caption img { margin: 0; }
.content-item .wp-caption p.wp-caption-text { color: #666666; font-size: 12px; margin-top:10px; }

/* Standard Table */
.content-item table { width: 100%; margin-bottom: 10px; clear:both; }
.content-item table tr th  { height: 30px; background-color: #ffffff; }
.content-item table tr { background-color: #ffffff; }
.content-item table th { padding: 0 10px; }
.content-item table td { padding: 0 10px; }

/* Styled Table */
.content-item .table-style tr:nth-child(2n) { background-color: #ffffff; }
.content-item .table-style tr th { background-color: #eeeeee; }
.content-item .table-style tr { background-color: #eeeeee; }

.content-item blockquote { border-left:3px solid #7ca35b; margin: 0px 0px 20px 0px; padding:5px 0px 5px 20px; }
.content-item blockquote h1,
.content-item blockquote h2 { font-size:18px; padding:0px 0px 5px 0px; }
.content-item blockquote h3 { font-size:16px; margin:5px 0px 5px 0px; }
.content-item blockquote h4,
.content-item blockquote h5 { font-size:14px; font-weight:bold; margin:5px 0px 5px 0px; }
.content-item blockquote p { font-size: 14px; padding:5px 0px 5px 0px; }
.content-item blockquote ul { padding-left:16px; }

.content-item .box1 { padding: 0.642em 0.857em; border: 1px solid #b0c89d; margin: 1.5em 0 1.2em 0; clear: both; }
.content-item .box2 { padding: 0.642em 0.857em; border: 1px solid #b0c89d; background: #eff4eb; margin-bottom: 1em; clear: both; margin-top: 1em; }

.content-metainfo { width:100%; overflow:auto; }
.content-metainfo .content-source { width:100%; clear:both; }
.content-metainfo .more-info { width:100%; clear:both; }
